.header__top {
  height: 30px;
  background-color: gainsboro;
}
.row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col__left{
    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        li{
            font-style: italic;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: lighter;
        }
        li:first-child{
            &:after{
                content: "|";
                margin-left: 20px;
                font-size: 2rem;
                color: grey;
                opacity: 0.8;
                font-style: normal;
            }
        }
    }
}
.col__right {
  a {
    margin-top: 2px;
    font-size: 1.4rem;
    display: inline-block;
    color: black;
  }
  ul {
  
    display: flex;
    gap: 5px;
  }
  ul li:last-child {
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    // align-items: center;
    // justify-content: center;
    gap: 3px;
  }
  ul li {
 
  }
}
